/* * {
  border: 1px solid rgb(39, 11, 181);
} */

footer {
  text-align: center;
  padding: 5px;
  margin-top: 40px;
}

header h1 {
  text-align: center;
  padding: 14px;
}

div h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

div.card-header {
  padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
  margin-bottom: 5px;
  margin-top: 5px;
  color: var(--bs-card-cap-color);
  background-color: rgb(29 120 211 / 32%);
  border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

div.container {
  margin-bottom: 15px;
  padding-bottom: 10px;
  background-color: #eba1a1;
}

div.card-header.question {
  border-radius: 15px;
  background-color: rgb(29 120 211 / 32%);
}

button.submit-btn {
  border-radius: 10px;
}

button.restart-btn {
  border-radius: 10px;
}

ul.list-group.list-group-border {
  border-radius: 15px;
}

div.card.container {
  border-radius: 20px;
}

.form-container {
  text-align: center;
  padding: 10px;
  justify-content: center;
}

div.card.footer {
  background-color: #c86868;
  border-radius: 20px;
}

div.form-check.form-switch {
  text-align: left;
}

#feedback {
  max-width: 12%;
  display: flex;
  justify-content: center;
  border-width: 1px;
  margin: 0 auto;
  background-color: #e49191;
  border-radius: 20px;
}

#score-board {
  border: 1px solid black;
  max-width: 12%;
  display: flex;
  justify-content: center;
  border-width: 1px;
  margin: 0 auto;
  background-color: #e49191;
  border-radius: 20px;
}

[data-bs-theme="dark"] #feedback {
  background-color: #222;
}

[data-bs-theme="dark"] #score-board {
  background-color: #222;
}

[data-bs-theme="dark"] div.card.footer {
  background-color: #222;
}

#next-question {
  display: none;
}

#quiz-container {
  display: none;
}
